.color {
  color: rgb(0, 37, 201);
}
.box {
  margin-top: 250px;
}

@media screen and (min-width: 320px) {
  
  .small-but{
    margin-left: 4.7rem;
    margin-bottom: 20px;
  }

}
@media screen and (min-width: 375px) {
  
  .small-but{
    margin-left: 6.3rem;
    margin-bottom: 20px;
  }

}
@media screen and (min-width: 425px) {
  
  .small-but{
    margin-left: 7.7rem;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: 768px) {
  
  .small-but{
    margin-left: 5.5rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  
  .small-but{
    margin-left: 9.6rem;
    margin-bottom: 20px;
  }
}